{% extends 'base.html.twig' %}
{% set flightView = include("layout/viewFlight.html.twig") %}
{% set passengerVIew = include("layout/passengerInfo.html.twig") %}
{% block title %}{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{% block flight %}
			{{flightView}}
			<br>
			{{passengerVIew}}
			<a href="/booking/{{flight.id}}/{{passenger.id}}">
				<button type="submit">
					Finish
				</button>
			</a>
		{% endblock %}
	</div>


{% endblock %}
